<!DOCTYPE html>
<html>

<head>
    <title>질문하기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script>
        function queryData() {
            var query = document.getElementById("query").value;
            var payload = {
                query: query
            };
            fetch('/query', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            }).then(function (response) {
                console.log(`1. Response status: ${response.status}`);
                if (!response.ok) {
                    throw new Error("HTTP error " + response.status);
                }
                console.log('Response status: ' + response.status);
                console.log('Response status text: ' + response.statusText);
                return response.json();
            }).then(function (result) {
                console.log(`2. result: ${result}`);
                document.getElementById("result").innerText = result.response;
            }).catch(function (error) {
                console.log(error);
            });
        }

    </script>
</head>

<body class="container pt-5">
<h1 class="mb-5">질문하기</h1>
<textarea id="query" class="form-control mb-3" rows="10"></textarea>
<button class="btn btn-primary mb-3" onclick="queryData()">질문제출</button>
<div id="result" class="border p-3 rounded bg-light"></div>
</body>

</html>
